/* MENU */

#headerwrap h1 {
    font-size: 24px !important;
    margin-top: 110px !important;
    margin-bottom: 20px !important;
}

#headerwrap {
    margin-top: -82px !important;
    min-height: 369px !important;
    /*background: url(../img/bg01.jpg) no-repeat center top !important;*/
    background: #c0392b !important; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #c0392b, #8e44ad) !important; /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #c0392b, #8e44ad) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar a {
    color: #ffffff !important;
    font-size: 18px !important;
}

.navbar a:hover {
    color: white !important;
    font-size: 18px !important;
}

.bg-transparent{
	transition: all 1s ease;
}	

.navbar {
    background: transparent !important;
}

.si i {
    color: #000000 !important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #343a40 !important;
    }
}

/*INDEX*/

.b-link-fade .b-wrapper, .b-link-fade .b-top-line {
    background: #343a40 !important;
}

.btn-theme {
    background-color: #9244a5 !important;
}

/*CATEGORIAS*/

.container-articles {
    border-bottom: 1px solid #333b3e;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 15px;
}

.articles {
    overflow: hidden;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.article-img {
    padding-left: 0px;
    padding-right: 0px;
}

/*RUBROS Y SERVICIOS*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.tree-structure{
    list-style: none;
    clear: both;
    padding-left: 15px;
}
.tree-structure li {
    position: relative;
}
.tree-structure li a{
    font-weight: normal;
    color: #9143a5;
    text-decoration: none;
    font-weight: 700;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: calc(100% - 50px);
    vertical-align: top;
}
.tree-structure li a:hover{
    padding-left: 5px;
}
.tree-structure > li > .num{
    display: inline-block;
    background: #333;
    min-width: 24px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    padding: 3px 9px;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}
.tree-structure > li > .num:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #939393;
    top: 5px;
    left: 12px;
    z-index: -1;
}
.tree-structure > li:last-child > .num:after{   
    height: calc(100% - 44px);
}
.tree-structure ol{
    padding: 20px 0 20px 45px;
}
.tree-structure ol li{
    list-style-type: none;
    padding: 8px 0
}
.tree-structure ol li .num{
    position: relative;
}
.tree-structure ol li a{
    color: #000;
    font-weight: normal;
}
.tree-structure .num{
    background-color: #666;
    min-width: 24px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    padding: 3px 9px;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
.tree-structure  ol  li .num:before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    margin: auto;
    width: 33px;
    height: 1px;
    background-color: #939393;
}