body {
    font-size: 12px !important;
}
 
/* MENU */

@media (min-width: 768px){
.navbar-nav > li > a {
    padding-right: 17px !important;
    }
}
.navbar-brand {
    padding-top: 10px !important;
}

#headerwrap h1 {
    font-size: 24px !important;
    margin-top: 110px !important;
    margin-bottom: 20px !important;
}
 
#headerwrap {
    margin-top: -82px !important;
    min-height: 369px !important;
    /*background: url(../img/bg01.jpg) no-repeat center top !important;*/
    background: #c0392b !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c0392b, #8e44ad) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c0392b, #8e44ad) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
.navbar a {
    color: #ffffff !important;
    font-size: 18px !important;
}

.navbar a:hover {
    color: white !important;
    font-size: 18px !important;
}
 
.bg-transparent{
  transition: all 1s ease;
}  
 
.navbar {
    background: transparent !important;
    color: black !important;
}
 
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        background-color: #343a40 !important;
    }
}
 
.si i {
    color: #000000 !important;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        background-color: #343a40 !important;
    }
}
 
/*INDEX*/
 
.b-link-fade .b-wrapper, .b-link-fade .b-top-line {
    background: #343a40 !important;
}
 
.btn-theme {
    background-color: #9244a5 !important;
}
 
button.btn.btn-theme.btn-lg {
    background-color: #9144a6;
}

.container:hover .img{
    background-color: blue;
}
 
/*CATEGORIAS*/
 
.container-articles {
    border-bottom: 1px solid #333b3e;
}
 
.container-fluid {
    padding-left: 0px;
    padding-right: 15px;
}
 
.articles {
    overflow: hidden;
}
 
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.article-img {
    padding-left: 0px;
    padding-right: 0px;
}
 
.navbar a:hover {
    color: black !important;
    font-size: 18px !important;
}
 
.navbar a:focus {
    color: black !important;
    font-size: 18px !important;
}
 
/*Buscador
.btn-outline-success {
    color: #eee !important;
    border-color: #eee !important;
}
 
 .btn-outline-success:hover {
    color: black !important;
    background-color: white !important; 
    border-color: black !important;
}*/
 
 
.carousel-control-prev {
    background-color: black !important;
    top: 47px !important;
    width: 5% !important;
    height: 23% !important;
    border-radius: 50% !important;
}
 
.carousel-control-next {
    background-color: black !important;
    top: 47px !important;
    width: 5% !important;
    height: 23% !important;    
    border-radius: 50% !important;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
 
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
 
.icon-size
{
    font-size: 87px;
}
 
 
/*SERVICIOS*/
 
select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px) !important;
}