/* PERFIL */
.about{
   margin: 1em 0;
   padding: 1em;
   position: relative;
}

.about h1{
   color:#F97300;
   margin: 2em;
}

.about img{
   height: 100%;
   width: 100%;
   border-radius: 50%
}

.about span{
   display: block;
   color: #888;
   position: absolute;
   left: 115px;
}

.about .desc{
   padding: 2em;
   border-left:4px solid #10828C;
}

.about .desc h3{
   color: #10828C;
}

.about .desc p{
   line-height:2;
   color: black;
}

p#nombre {
font-size: 50px !important;
color: black !important;
}

.pestaña {
    font-size: x-large !important;
    color: purple !important;
}

/*CALIFICACION*/
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 100%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

/*OFERTA*/

.imagen-oferta {
    max-width: 100%;
}
.titulo-oferta {
    font-size: 40px !important;
}

.checked-purple {
    color: purple;
}

.checked-orange {
    color: #DE5D34;
}

.div-calificacion-oferta {
    display: -webkit-inline-box;
    margin-top: 0.5em;
}

.cantidad-opiniones-oferta {
    margin-left: 1em;
}

.usuario-oferta {
    display: -webkit-box;
    margin-top: 0.5em;
}

.usuario-oferta-pic {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    margin-right: 1em;
}

.nombre-usuario-oferta {
    font-weight: bold;
}

.div-boton-oferta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 15px;
}

.btn-oferta {
    width: 100% !important;
    color: white;
    font-size: 2em !important;
}

.tabs-oferta {
    margin-top: 2em;
}

.form-control {
    font-size: 15px !important;
}

.precio-oferta {
    font-weight: bold;
    font-size: 2em !important;
}


/*SERVICIOS*/

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px) !important;
}

.experiencia-evidencia {
    width: 30em;
    height: 20em;
}

.experiencia {
    background-color: #F0F0F0;
}
.experiencia-descripcion {
    font-size:20px;
}

.btn-experiencia-perfil {
    color: white;
    font-size: 1.5em !important;
}

.experiencia-titulo {
    display: inline;
}

.experiencia-profile-pic {  
  width: 4em;
  height: 4em;
  border-radius: 100%;
  margin-right: 1em;
}

.experiencia-evidencia {
    width: 30em;
    height: 20em;
}

.contenido {
    margin-top: 1.5em;
}

.curriculum-datos > p {
    font-size: 15px;
}

.img-oferta-perfil {
    height: 150px;
    max-width: 100%;
}

.precio-oferta-perfil {
    margin: auto;
    font-size: 1.3em;
    text-align: center;
}

.btn-purple {
    background-color: purple !important;
}